/* 改变主题色变量 */
$--color-primary: #AC75D4;
$--color-success: #14C17B;
$--color-warning: #FF8C08;
$--color-danger: #F95E6B;
$--color-info: #718096;

/// 主要文字
$--color-text-primary: #1F2533;
/// 常规文字
$--color-text-regular: #37435C;
/// 次要文字
$--color-text-secondary: #4E5E83;
/// 占位文字
$--color-text-placeholder: #A8B0C2;
/// 一级边框
$--border-color-base: #B8BFCA;
/// 二级边框
$--border-color-light: #D4D9DF;
/// 三级边框
$--border-color-lighter: #E9ECEF;
/// 四级边框
$--border-color-extra-light: #F7F8F9;
/// 背景颜色
$--background-color-base: #F6F6F8;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-plus/lib/theme-chalk/fonts';

@import "~element-plus/packages/theme-chalk/src/index";